<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.SysBmbMapper">

    <resultMap type="SysBmb" id="SysBmbResult">
        <result property="id"    column="id"    />
        <result property="name"    column="name"    />
        <result property="idcard"    column="idcard"    />
        <result property="phone"    column="phone"    />
        <result property="kaoshiTime"    column="kaoshi_time"    />
        <result property="kaoshiType"    column="kaoshi_type"    />
        <result property="deptId"    column="dept_id"    />
        <result property="ancestors"  column="ancestors"   />
        <result property="bukao"    column="bukao"    />
        <result property="sfwc"    column="sfwc"    />
        <result property="fucha"    column="fucha"    />
        <result property="liluen"    column="liluen"    />
        <result property="shichao"    column="shichao"    />
        <result property="pici"    column="pici"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
        <result property="createBy"    column="create_by"    />
        <result property="updateBy"    column="update_by"    />
        <result property="remark"    column="remark"    />
        <result property="delFlag"    column="del_flag"    />
        <result property="avatarUrl"    column="avatar_url"    />
        <result property="examType"    column="exam_type"    />
        <result property="examId"    column="exam_id"    />
        <result property="shengId"    column="sheng_id"    />
        <result property="shengName"    column="sheng_name"    />
        <association property="dept"    column="dept_id" javaType="SysDept" resultMap="deptResult" />
    </resultMap>

    <resultMap id="deptResult" type="SysDept">
        <id     property="deptId"   column="dept_id"     />
        <result property="parentId" column="parent_id"   />
        <result property="deptName" column="dept_name"   />
        <result property="orderNum" column="order_num"   />
        <result property="leader"   column="leader"      />
        <result property="status"   column="dept_status" />
        <result property="jianCheng"   column="jian_cheng" />
    </resultMap>

    <sql id="selectSysBmbVo">
        select b.id, b.name, b.idcard,b.phone, b.kaoshi_time,  b.dept_id, b.bukao, b.sfwc, b.fucha, b.liluen, b.shichao, b.pici, b.create_time,
         b.update_time, b.create_by, b.update_by, b.remark, b.del_flag, b.avatar_url,b.kaoshi_type,b.ancestors,b.exam_type,b.exam_id,
         b.sheng_id,b.sheng_name,
         d.dept_id, d.parent_id, d.dept_name, d.order_num, d.leader, d.status as dept_status,d.jian_cheng
        from sys_bmb b left join sys_dept d on b.dept_id = d.dept_id
    </sql>

    <select id="selectSysBmbList" parameterType="SysBmb" resultMap="SysBmbResult">
        <include refid="selectSysBmbVo"/>
        <where>
            <if test="name != null  and name != ''"> and b.name like concat('%', #{name}, '%')</if>
            <if test="idcard != null  and idcard != ''"> and b.idcard = #{idcard}</if>
            <if test="kaoshiType != null  and kaoshiType != ''"> and b.kaoshi_type = #{kaoshiType}</if>
            <if test="kaoshiTime != null "> and b.kaoshi_time = #{kaoshiTime}</if>
            <if test="sfwc != null  and sfwc != ''"> and b.sfwc = #{sfwc}</if>
            <if test="bukao != null  and bukao != ''"> and b.bukao = #{bukao}</if>
            <if test="pici != null  and pici != ''"> and b.pici = #{pici}</if>
            <if test="deptId != null and deptId != 0">
                AND b.dept_id = #{deptId}
            </if>
        </where>
        ${params.dataScope}
    </select>

    <select id="selectSysBmbListGroup" parameterType="String" resultMap="SysBmbResult">
       select * from sys_bmb b where b.pici=#{pici} group by b.dept_id
    </select>

    <select id="selectSysBmbById" parameterType="Long" resultMap="SysBmbResult">
        <include refid="selectSysBmbVo"/>
        where id = #{id}
    </select>

    <insert id="insertSysBmb" parameterType="SysBmb" useGeneratedKeys="true" keyProperty="id">
        insert into sys_bmb
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="name != null and name != ''">name,</if>
            <if test="idcard != null and idcard != ''">idcard,</if>
            <if test="phone != null and phone != ''">phone,</if>
            <if test="kaoshiTime != null">kaoshi_time,</if>
            <if test="kaoshiType != null">kaoshi_type,</if>
            <if test="deptId != null">dept_id,</if>
            <if test="ancestors != null and ancestors != ''">ancestors,</if>
            <if test="bukao != null  and bukao != ''">bukao,</if>
            <if test="sfwc != null  and sfwc != ''">sfwc,</if>
            <if test="fucha != null">fucha,</if>
            <if test="liluen != null  and liluen != ''">liluen,</if>
            <if test="shichao != null  and shichao != ''">shichao,</if>
            <if test="pici != null">pici,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="createBy != null">create_by,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="remark != null">remark,</if>
            <if test="delFlag != null">del_flag,</if>
            <if test="avatarUrl != null and avatarUrl != ''">avatar_url,</if>
            <if test="examType != null and examType != ''">exam_type,</if>
            <if test="examId != null and examId != ''">exam_id,</if>
            <if test="shengId != null">sheng_id,</if>
            <if test="shengName != null and shengName != ''">sheng_name,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="name != null and name != ''">#{name},</if>
            <if test="idcard != null and idcard != ''">#{idcard},</if>
            <if test="phone != null and phone != ''">#{phone},</if>
            <if test="kaoshiTime != null">#{kaoshiTime},</if>
            <if test="kaoshiType != null">#{kaoshiType},</if>
            <if test="deptId != null">#{deptId},</if>
            <if test="ancestors != null and ancestors != ''">#{ancestors},</if>
            <if test="bukao != null">#{bukao},</if>
            <if test="sfwc != null">#{sfwc},</if>
            <if test="fucha != null">#{fucha},</if>
            <if test="liluen != null">#{liluen},</if>
            <if test="shichao != null">#{shichao},</if>
            <if test="pici != null">#{pici},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="remark != null">#{remark},</if>
            <if test="delFlag != null">#{delFlag},</if>
            <if test="avatarUrl != null and avatarUrl != ''">#{avatarUrl},</if>
            <if test="examType != null and examType != ''">#{examType},</if>
            <if test="examId != null and examId != ''">#{examId},</if>
            <if test="shengId != null">#{shengId},</if>
            <if test="shengName != null and shengName != ''">#{shengName},</if>
        </trim>
    </insert>

    <update id="updateSysBmb" parameterType="SysBmb">
        update sys_bmb
        <trim prefix="SET" suffixOverrides=",">
            <if test="name != null and name != ''">name = #{name},</if>
            <if test="idcard != null and idcard != ''">idcard = #{idcard},</if>
            <if test="phone != null and phone != ''">phone = #{phone},</if>
            <if test="kaoshiTime != null">kaoshi_time = #{kaoshiTime},</if>
            <if test="kaoshiType != null">kaoshi_type = #{kaoshiType},</if>
            <if test="deptId != null">dept_id = #{deptId},</if>
            <if test="ancestors != null and ancestors != ''">ancestors = #{ancestors},</if>
            <if test="bukao != null and bukao != ''">bukao = #{bukao},</if>
            <if test="sfwc != null and sfwc != ''">sfwc = #{sfwc},</if>
            <if test="fucha != null">fucha = #{fucha},</if>
            <if test="liluen != null and liluen != ''">liluen = #{liluen},</if>
            <if test="shichao != null and shichao != ''">shichao = #{shichao},</if>
            <if test="pici != null">pici = #{pici},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="delFlag != null">del_flag = #{delFlag},</if>
            <if test="avatarUrl != null">avatar_url = #{avatarUrl},</if>
            <if test="examType != null">exam_type = #{examType},</if>
            <if test="examId != null">exam_id = #{examId},</if>
            <if test="shengId != null">sheng_id = #{shengId},</if>
            <if test="shengName != null">sheng_name = #{shengName},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteSysBmbById" parameterType="Long">
        delete from sys_bmb where id = #{id}
    </delete>

    <delete id="deleteSysBmbByIds" parameterType="String">
        delete from sys_bmb where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <select id="selectSysBmbByIds" parameterType="Long" resultMap="SysBmbResult">
        <include refid="selectSysBmbVo"/>
        where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </select>

</mapper>
