<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fjb.system.mapper.SysCityMapper">

    <resultMap type="SysCity" id="SysCityResult">
        <result property="cid"    column="cid"    />
        <result property="cname"    column="cname"    />
        <result property="proid"    column="proid"    />
        <result property="zipcode"    column="zipcode"    />
        <result property="jingDu"    column="jing_du"    />
        <result property="weiDu"    column="wei_du"    />
    </resultMap>

    <sql id="selectSysCityVo">
        select cid, cname, proid, zipcode,jing_du,wei_du from sys_city
    </sql>

    <select id="selectSysCityList" parameterType="SysCity" resultMap="SysCityResult">
        <include refid="selectSysCityVo"/>
        <where>
            <if test="cname != null  and cname != ''"> and cname like concat('%', #{cname}, '%')</if>
            <if test="proid != null"> and proid = #{proid}</if>
        </where>
    </select>

    <select id="selectSysCityById" parameterType="Integer" resultMap="SysCityResult">
        <include refid="selectSysCityVo"/>
        where cid = #{cid}
    </select>

    <insert id="insertSysCity" parameterType="SysCity">
        insert into sys_city
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="cid != null">cid,</if>
            <if test="cname != null and cname != ''">cname,</if>
            <if test="proid != null">proid,</if>
            <if test="zipcode != null">zipcode,</if>
            <if test="jingDu != null">jing_du,</if>
            <if test="weiDu != null">wei_du,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="cid != null">#{cid},</if>
            <if test="cname != null and cname != ''">#{cname},</if>
            <if test="proid != null ">#{proid},</if>
            <if test="zipcode != null">#{zipcode},</if>
            <if test="jingDu != null">#{jingDu},</if>
            <if test="weiDu != null">#{weiDu},</if>
         </trim>
    </insert>

    <update id="updateSysCity" parameterType="SysCity">
        update sys_city
        <trim prefix="SET" suffixOverrides=",">
            <if test="cname != null and cname != ''">cname = #{cname},</if>
            <if test="proid != null ">proid = #{proid},</if>
            <if test="zipcode != null">zipcode = #{zipcode},</if>
            <if test="jingDu != null">jing_du = #{jingDu},</if>
            <if test="weiDu != null">wei_du = #{weiDu},</if>
        </trim>
        where cid = #{cid}
    </update>

    <delete id="deleteSysCityById" parameterType="Integer">
        delete from sys_city where cid = #{cid}
    </delete>

    <delete id="deleteSysCityByIds" parameterType="String">
        delete from sys_city where cid in
        <foreach item="cid" collection="array" open="(" separator="," close=")">
            #{cid}
        </foreach>
    </delete>

</mapper>
