<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fjb.system.mapper.SysConfiscationMapper">

    <resultMap type="SysConfiscation" id="SysConfiscationResult">
        <result property="id"    column="id"    />
        <result property="number"    column="number"    />
        <result property="userId"    column="user_id"    />
        <result property="deptId"    column="dept_id"    />
        <result property="identifyname"    column="identifyname"    />
        <result property="checkupname"    column="checkupname"    />
        <result property="identifydate"    column="identifydate"    />
        <result property="amount"    column="amount"    />
        <result property="totalamount"    column="totalamount"    />
        <result property="holderName"    column="holder_name"    />
        <result property="holderIdcard"    column="holder_IDCard"    />
        <result property="holderTelephone"    column="holder_telephone"    />
        <result property="holderBanksnomber"    column="holder_banksnomber"    />
        <result property="source"    column="source"    />
        <result property="remark"    column="remark"    />
        <result property="numberofverification"    column="numberofverification"    />
        <result property="originalcffi"    column="originalcffi"    />
        <result property="originalresult"    column="originalresult"    />
        <result property="result"    column="result"    />
        <result property="resultdetails"    column="resultdetails"    />
        <result property="delFlag"    column="del_flag"    />
        <result property="status"    column="status"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="serialNumber"    column="serial_number"    />
        <result property="ccCurrency"    column="cc_currency"    />
        <result property="ccDenomination"    column="cc_denomination"    />
        <result property="ccSeries"    column="cc_series"    />
        <result property="ccMadeway"    column="cc_madeway"    />
        <result property="parentId"    column="parent_id"    />
        <result property="dataSource"    column="data_source"    />
        <association property="dept"    column="dept_id" javaType="SysDept" resultMap="deptResult" />
        <association property="user"    column="user_id" javaType="SysUser" resultMap="SysUserResult" />
    </resultMap>

    <resultMap id="deptResult" type="SysDept">
        <id     property="deptId"   column="dept_id"     />
        <result property="parentId" column="parent_id"   />
        <result property="deptName" column="dept_name"   />
        <result property="jianCheng" column="jian_cheng" />
    </resultMap>

    <resultMap type="SysUser" id="SysUserResult">
        <id     property="userId"       column="user_id"      />
        <result property="deptId"       column="dept_id"      />
        <result property="userName"     column="user_name"    />
        <result property="nickName"     column="nick_name"    />
    </resultMap>

    <sql id="selectSysConfiscationVo">
        select r.id, r.number, r.user_id, r.dept_id, r.identifyname, r.checkupname,
        r.identifydate, r.amount, r.totalamount, r.holder_name, r.holder_IDCard,
        r.holder_telephone, r.holder_banksnomber, r.source, r.remark, r.numberofverification,
        r.originalcffi, r.originalresult, r.result, r.resultdetails, r.del_flag, r.status,
        r.create_by, r.create_time, r.update_by, r.update_time, r.serial_number, r.cc_currency,
        r.cc_denomination, r.cc_series, r.cc_madeway, r.parent_id,r.data_source
        from sys_confiscation r
        left join sys_user u on r.user_id = u.user_id
        left join sys_dept d on r.dept_id = d.dept_id
    </sql>

    <select id="selectSysConfiscationList" parameterType="SysConfiscation" resultMap="SysConfiscationResult">
        select r.id, r.number, r.user_id, r.dept_id, r.identifyname, r.checkupname,
        r.identifydate, r.amount, r.totalamount, r.holder_name, r.holder_IDCard,
        r.holder_telephone, r.holder_banksnomber, r.source, r.remark, r.numberofverification,
        r.originalcffi, r.originalresult, r.result, r.resultdetails, r.del_flag, r.status,
        r.create_by, r.create_time, r.update_by, r.update_time, r.serial_number, r.cc_currency,
        r.cc_denomination, r.cc_series, r.cc_madeway, r.parent_id,r.data_source
        ,u.user_id, u.dept_id, u.nick_name, u.user_name,d.dept_name, d.dept_id,d.jian_cheng,d.parent_id
        from sys_confiscation r
        left join sys_user u on r.user_id = u.user_id
        left join sys_dept d on r.dept_id = d.dept_id
        where r.del_flag = '0'
        <if test="deptId != null and deptId != 0">
            AND (r.dept_id = #{deptId} OR r.dept_id IN ( SELECT t.dept_id FROM sys_dept t WHERE find_in_set(#{deptId}, ancestors) ))
        </if>
            <if test="number != null  and number != ''"> and number = #{number}</if>
            <if test="deptId != null "> and dept_id = #{deptId}</if>
            <if test="identifyname != null  and identifyname != ''"> and identifyname like concat('%', #{identifyname}, '%')</if>
            <if test="checkupname != null  and checkupname != ''"> and checkupname like concat('%', #{checkupname}, '%')</if>
            <if test="status != null  and status != ''"> and status = #{status}</if>
            <if test="serialNumber != null  and serialNumber != ''"> and serial_number = #{serialNumber}</if>
            <if test="ccCurrency != null  and ccCurrency != ''"> and cc_currency = #{ccCurrency}</if>
            <if test="ccDenomination != null  and ccDenomination != ''"> and cc_denomination = #{ccDenomination}</if>
            <if test="ccSeries != null  and ccSeries != ''"> and cc_series = #{ccSeries}</if>
            <if test="parentId != null "> and parent_id = #{parentId}</if>
        <if test="beginTime != null and beginTime != ''"><!-- 开始时间检索 -->
            and date_format(r.identifydate,'%y%m%d') &gt;= date_format(#{beginTime},'%y%m%d')
        </if>
        <if test="endTime != null and endTime != ''"><!-- 结束时间检索 -->
            and date_format(r.identifydate,'%y%m%d') &lt;= date_format(#{endTime},'%y%m%d')
        </if>
        <!-- 数据范围过滤 -->
        ${params.dataScope}
    </select>

    <select id="selectSysConfiscationById" parameterType="Integer" resultMap="SysConfiscationResult">
        <include refid="selectSysConfiscationVo"/>
        where id = #{id}
    </select>

    <insert id="insertSysConfiscation" parameterType="SysConfiscation" useGeneratedKeys="true" keyProperty="id">
        insert into sys_confiscation
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="number != null">number,</if>
            <if test="userId != null">user_id,</if>
            <if test="deptId != null">dept_id,</if>
            <if test="identifyname != null">identifyname,</if>
            <if test="checkupname != null">checkupname,</if>
            <if test="identifydate != null">identifydate,</if>
            <if test="amount != null">amount,</if>
            <if test="totalamount != null">totalamount,</if>
            <if test="holderName != null">holder_name,</if>
            <if test="holderIdcard != null">holder_IDCard,</if>
            <if test="holderTelephone != null">holder_telephone,</if>
            <if test="holderBanksnomber != null">holder_banksnomber,</if>
            <if test="source != null">source,</if>
            <if test="remark != null">remark,</if>
            <if test="numberofverification != null">numberofverification,</if>
            <if test="originalcffi != null">originalcffi,</if>
            <if test="originalresult != null">originalresult,</if>
            <if test="result != null">result,</if>
            <if test="resultdetails != null">resultdetails,</if>
            <if test="delFlag != null">del_flag,</if>
            <if test="status != null">status,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="serialNumber != null">serial_number,</if>
            <if test="ccCurrency != null">cc_currency,</if>
            <if test="ccDenomination != null">cc_denomination,</if>
            <if test="ccSeries != null">cc_series,</if>
            <if test="ccMadeway != null">cc_madeway,</if>
            <if test="parentId != null">parent_id,</if>
            <if test="dataSource != null">data_source,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="number != null">#{number},</if>
            <if test="userId != null">#{userId},</if>
            <if test="deptId != null">#{deptId},</if>
            <if test="identifyname != null">#{identifyname},</if>
            <if test="checkupname != null">#{checkupname},</if>
            <if test="identifydate != null">#{identifydate},</if>
            <if test="amount != null">#{amount},</if>
            <if test="totalamount != null">#{totalamount},</if>
            <if test="holderName != null">#{holderName},</if>
            <if test="holderIdcard != null">#{holderIdcard},</if>
            <if test="holderTelephone != null">#{holderTelephone},</if>
            <if test="holderBanksnomber != null">#{holderBanksnomber},</if>
            <if test="source != null">#{source},</if>
            <if test="remark != null">#{remark},</if>
            <if test="numberofverification != null">#{numberofverification},</if>
            <if test="originalcffi != null">#{originalcffi},</if>
            <if test="originalresult != null">#{originalresult},</if>
            <if test="result != null">#{result},</if>
            <if test="resultdetails != null">#{resultdetails},</if>
            <if test="delFlag != null">#{delFlag},</if>
            <if test="status != null">#{status},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="serialNumber != null">#{serialNumber},</if>
            <if test="ccCurrency != null">#{ccCurrency},</if>
            <if test="ccDenomination != null">#{ccDenomination},</if>
            <if test="ccSeries != null">#{ccSeries},</if>
            <if test="ccMadeway != null">#{ccMadeway},</if>
            <if test="parentId != null">#{parentId},</if>
            <if test="dataSource != null">#{dataSource},</if>
         </trim>
    </insert>

    <update id="updateSysConfiscation" parameterType="SysConfiscation">
        update sys_confiscation
        <trim prefix="SET" suffixOverrides=",">
            <if test="number != null">number = #{number},</if>
            <if test="userId != null">user_id = #{userId},</if>
            <if test="deptId != null">dept_id = #{deptId},</if>
            <if test="identifyname != null">identifyname = #{identifyname},</if>
            <if test="checkupname != null">checkupname = #{checkupname},</if>
            <if test="identifydate != null">identifydate = #{identifydate},</if>
            <if test="amount != null">amount = #{amount},</if>
            <if test="totalamount != null">totalamount = #{totalamount},</if>
            <if test="holderName != null">holder_name = #{holderName},</if>
            <if test="holderIdcard != null">holder_IDCard = #{holderIdcard},</if>
            <if test="holderTelephone != null">holder_telephone = #{holderTelephone},</if>
            <if test="holderBanksnomber != null">holder_banksnomber = #{holderBanksnomber},</if>
            <if test="source != null">source = #{source},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="numberofverification != null">numberofverification = #{numberofverification},</if>
            <if test="originalcffi != null">originalcffi = #{originalcffi},</if>
            <if test="originalresult != null">originalresult = #{originalresult},</if>
            <if test="result != null">result = #{result},</if>
            <if test="resultdetails != null">resultdetails = #{resultdetails},</if>
            <if test="delFlag != null">del_flag = #{delFlag},</if>
            <if test="status != null">status = #{status},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="serialNumber != null">serial_number = #{serialNumber},</if>
            <if test="ccCurrency != null">cc_currency = #{ccCurrency},</if>
            <if test="ccDenomination != null">cc_denomination = #{ccDenomination},</if>
            <if test="ccSeries != null">cc_series = #{ccSeries},</if>
            <if test="ccMadeway != null">cc_madeway = #{ccMadeway},</if>
            <if test="parentId != null">parent_id = #{parentId},</if>
            <if test="dataSource != null">data_source = #{dataSource},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteSysConfiscationById" parameterType="Integer">
        delete from sys_confiscation where id = #{id}
    </delete>

    <delete id="deleteSysConfiscationByIds" parameterType="String">
        delete from sys_confiscation where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

</mapper>
