<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fjb.system.mapper.SysDeptMapper">

	<resultMap type="SysDept" id="SysDeptResult">
		<id     property="deptId"     column="dept_id"     />
		<result property="parentId"   column="parent_id"   />
		<result property="ancestors"  column="ancestors"   />
		<result property="deptName"   column="dept_name"   />
		<result property="orderNum"   column="order_num"   />
		<result property="leader"     column="leader"      />
		<result property="phone"      column="phone"       />
		<result property="status"     column="status"      />
		<result property="delFlag"    column="del_flag"    />
		<result property="parentName" column="parent_name" />
		<result property="createBy"   column="create_by"   />
		<result property="createTime" column="create_time" />
		<result property="updateBy"   column="update_by"   />
		<result property="updateTime" column="update_time" />
		<result property="jigouCode" column="jigou_code" />
		<result property="jianCheng" column="jian_cheng" />
		<result property="sizeId" column="size_id" />
		<result property="jinDu" column="jin_du" />
		<result property="weiDu" column="wei_du" />
		<result property="proid" column="proid" />
		<result property="cid" column="cid" />
		<result property="tid" column="tid" />
		<result property="isJianDing" column="is_jian_ding" />
		<association property="province"    column="proid" javaType="SysProvince" resultMap="SysProvinceResult" />
		<association property="city"    column="cid" javaType="SysCity" resultMap="SysCityResult" />
		<association property="town"    column="tid" javaType="SysTown" resultMap="SysTownResult" />
	</resultMap>

	<resultMap type="SysProvince" id="SysProvinceResult">
		<result property="proid"    column="proid"    />
		<result property="proname"    column="proname"    />
	</resultMap>

	<resultMap type="SysCity" id="SysCityResult">
		<result property="cid"    column="cid"    />
		<result property="cname"    column="cname"    />
	</resultMap>

	<resultMap type="SysTown" id="SysTownResult">
		<result property="tid"    column="tid"    />
		<result property="tname"    column="tname"    />
	</resultMap>

	<sql id="selectDeptVo">
        select d.dept_id, d.parent_id, d.ancestors, d.dept_name, d.order_num, d.leader, d.phone, d.status, d.del_flag, d.create_by, d.create_time ,d.jigou_code
        ,d.jian_cheng,d.jin_du,d.wei_du,d.proid,d.cid,d.tid,d.is_jian_ding from sys_dept d
    </sql>

	<select id="selectDeptList" parameterType="SysDept" resultMap="SysDeptResult">
		select d.dept_id, d.parent_id, d.ancestors, d.dept_name, d.order_num, d.leader, d.phone, d.status, d.del_flag, d.create_by, d.create_time ,d.jigou_code
		,d.jian_cheng,d.jin_du,d.wei_du,d.proid,d.cid,d.tid,d.is_jian_ding,p.proname,c.cname,t.tname
		from sys_dept d
		left join sys_province p on d.proid=p.proid
		left join sys_city c on d.cid=c.cid
		left join sys_town t on d.tid=t.tid
        where d.del_flag = '0'
        <if test="parentId != null ">
			AND parent_id = #{parentId}
		</if>
		<if test="deptName != null and deptName != ''">
			AND dept_name like concat('%', #{deptName}, '%')
		</if>
		<if test="status != null and status != ''">
			AND status = #{status}
		</if>
		<if test="isJianDing != null and isJianDing != ''">
			AND is_jian_ding = #{isJianDing}
		</if>
		<!-- 数据范围过滤 -->
		${params.dataScope}
		order by d.parent_id, d.order_num
    </select>

    <select id="selectDeptListByRoleId" resultType="Integer">
		select d.dept_id
		from sys_dept d
            left join sys_role_dept rd on d.dept_id = rd.dept_id
        where rd.role_id = #{roleId}
            <if test="deptCheckStrictly">
              and d.dept_id not in (select d.parent_id from sys_dept d inner join sys_role_dept rd on d.dept_id = rd.dept_id and rd.role_id = #{roleId})
            </if>
		order by d.parent_id, d.order_num
	</select>

    <select id="selectDeptById" parameterType="Long" resultMap="SysDeptResult">
		<include refid="selectDeptVo"/>
		where dept_id = #{deptId}
	</select>

	<select id="selectDeptByName" parameterType="String" resultMap="SysDeptResult">
		<include refid="selectDeptVo"/>
		where dept_name = #{deptName}
	</select>

    <select id="checkDeptExistUser" parameterType="Long" resultType="int">
		select count(1) from sys_user where dept_id = #{deptId} and del_flag = '0'
	</select>

	<select id="hasChildByDeptId" parameterType="Long" resultType="int">
		select count(1) from sys_dept
		where del_flag = '0' and parent_id = #{deptId} limit 1
	</select>

	<select id="selectChildrenDeptById" parameterType="Long" resultMap="SysDeptResult">
		select * from sys_dept where find_in_set(#{deptId}, ancestors)
	</select>

	<select id="selectNormalChildrenDeptById" parameterType="Long" resultType="int">
		select count(*) from sys_dept where status = 0 and del_flag = '0' and find_in_set(#{deptId}, ancestors)
	</select>

	<select id="checkDeptNameUnique" resultMap="SysDeptResult">
	    <include refid="selectDeptVo"/>
		where dept_name=#{deptName} and parent_id = #{parentId} limit 1
	</select>

	<select id="checkDeptCodeUnique" resultMap="SysDeptResult">
		<include refid="selectDeptVo"/>
		where jigou_code=#{jigouCode} limit 1
	</select>

    <insert id="insertDept" parameterType="SysDept">
 		insert into sys_dept(
 			<if test="deptId != null and deptId != 0">dept_id,</if>
 			<if test="parentId != null and parentId != 0">parent_id,</if>
 			<if test="deptName != null and deptName != ''">dept_name,</if>
 			<if test="ancestors != null and ancestors != ''">ancestors,</if>
 			<if test="orderNum != null and orderNum != ''">order_num,</if>
 			<if test="leader != null and leader != ''">leader,</if>
 			<if test="phone != null and phone != ''">phone,</if>
 			<if test="status != null">status,</if>
 			<if test="createBy != null and createBy != ''">create_by,</if>
		    <if test="jigouCode != null and jigouCode != ''">jigou_code,</if>
		    <if test="jianCheng != null and jianCheng != ''">jian_cheng,</if>
			<if test="jinDu != null and jinDu != ''" >jin_du,</if>
			<if test="weiDu != null and weiDu != ''">wei_du,</if>
		    <if test="proid != null ">proid,</if>
			<if test="cid != null ">cid,</if>
			<if test="tid != null ">tid,</if>
		    <if test="isJianDing != null ">is_jian_ding,</if>
 			create_time
 		)values(
 			<if test="deptId != null and deptId != 0">#{deptId},</if>
 			<if test="parentId != null and parentId != 0">#{parentId},</if>
 			<if test="deptName != null and deptName != ''">#{deptName},</if>
 			<if test="ancestors != null and ancestors != ''">#{ancestors},</if>
 			<if test="orderNum != null and orderNum != ''">#{orderNum},</if>
 			<if test="leader != null and leader != ''">#{leader},</if>
 			<if test="phone != null and phone != ''">#{phone},</if>
 			<if test="status != null">#{status},</if>
 			<if test="createBy != null and createBy != ''">#{createBy},</if>
		    <if test="jigouCode != null and jigouCode != ''">#{jigouCode},</if>
		    <if test="jianCheng != null and jianCheng != ''">#{jianCheng},</if>
			<if test="jinDu != null  and jinDu != ''">#{jinDu},</if>
			<if test="weiDu != null and weiDu != ''">#{weiDu},</if>
		    <if test="proid != null ">#{proid},</if>
			<if test="cid != null ">#{cid},</if>
			<if test="tid != null ">#{tid},</if>
		    <if test="isJianDing != null ">#{isJianDing},</if>
 			sysdate()
 		)
	</insert>

	<update id="updateDept" parameterType="SysDept">
 		update sys_dept
 		<set>
 			<if test="parentId != null and parentId != 0">parent_id = #{parentId},</if>
 			<if test="deptName != null and deptName != ''">dept_name = #{deptName},</if>
 			<if test="ancestors != null and ancestors != ''">ancestors = #{ancestors},</if>
 			<if test="orderNum != null and orderNum != ''">order_num = #{orderNum},</if>
 			<if test="leader != null">leader = #{leader},</if>
 			<if test="phone != null">phone = #{phone},</if>
 			<if test="status != null and status != ''">status = #{status},</if>
 			<if test="updateBy != null and updateBy != ''">update_by = #{updateBy},</if>
			<if test="jigouCode != null and jigouCode != ''">jigou_code = #{jigouCode},</if>
			<if test="jianCheng != null and jianCheng != ''">jian_cheng = #{jianCheng},</if>
			<if test="jinDu != null and jinDu != ''">jin_du = #{jinDu},</if>
			<if test="weiDu != null and weiDu != ''">wei_du = #{weiDu},</if>
			<if test="proid != null ">proid = #{proid},</if>
			<if test="cid != null ">cid = #{cid},</if>
			<if test="tid != null ">tid = #{tid},</if>
			<if test="isJianDing != null ">is_jian_ding = #{isJianDing},</if>
 			update_time = sysdate()
 		</set>
 		where dept_id = #{deptId}
	</update>

	<update id="updateDeptChildren" parameterType="java.util.List">
	    update sys_dept set ancestors =
	    <foreach collection="depts" item="item" index="index"
	        separator=" " open="case dept_id" close="end">
	        when #{item.deptId} then #{item.ancestors}
	    </foreach>
	    where dept_id in
	    <foreach collection="depts" item="item" index="index"
	        separator="," open="(" close=")">
	        #{item.deptId}
	    </foreach>
	</update>

	 <update id="updateDeptStatus" parameterType="SysDept">
 	    update sys_dept
 	    <set>
 	        <if test="status != null and status != ''">status = #{status},</if>
 	        <if test="updateBy != null and updateBy != ''">update_by = #{updateBy},</if>
 	        update_time = sysdate()
        </set>
 	    where dept_id in (${ancestors})
	</update>

	<delete id="deleteDeptById" parameterType="Long">
		update sys_dept set del_flag = '2' where dept_id = #{deptId}
	</delete>

</mapper>
