<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fjb.system.mapper.SysDeptMapper">

	<resultMap type="SysDept" id="SysDeptResult">
		<id     property="deptId"     column="dept_id"     />
		<result property="parentId"   column="parent_id"   />
		<result property="ancestors"  column="ancestors"   />
		<result property="deptName"   column="dept_name"   />
		<result property="orderNum"   column="order_num"   />
		<result property="leader"     column="leader"      />
		<result property="phone"      column="phone"       />
		<result property="email"      column="email"       />
		<result property="status"     column="status"      />
		<result property="delFlag"    column="del_flag"    />
		<result property="parentName" column="parent_name" />
		<result property="createBy"   column="create_by"   />
		<result property="createTime" column="create_time" />
		<result property="updateBy"   column="update_by"   />
		<result property="updateTime" column="update_time" />
		<result property="jigouCode" column="jigou_code" />
		<result property="jianCheng" column="jian_cheng" />
		<result property="sizeId" column="size_id" />
		<result property="jinDu" column="jin_du" />
		<result property="weiDu" column="wei_du" />
		<result property="yinCode" column="yin_code" />
		<result property="address" column="address" />
		<result property="deptType" column="dept_type" />
		<result property="wangCode" column="wang_code" />
		<result property="wangType" column="wang_type" />
		<result property="sheng" column="sheng" />
		<result property="shi" column="shi" />
		<result property="xian" column="xian" />
		<result property="hang" column="hang" />
	</resultMap>

	<sql id="selectDeptVo">
        select d.dept_id, d.parent_id, d.ancestors, d.dept_name, d.order_num, d.leader, d.phone, d.email, d.status, d.del_flag, d.create_by, d.create_time ,d.jigou_code
        ,d.jian_cheng,d.jin_du,d.wei_du,d.yin_code,d.address,d.dept_type,d.wang_code,d.wang_type,d.sheng,d.shi,d.xian,d.hang from sys_dept d
    </sql>

	<select id="selectDeptList" parameterType="SysDept" resultMap="SysDeptResult">
        <include refid="selectDeptVo"/>
        where d.del_flag = '0'
        <if test="parentId != null and parentId != 0">
			AND parent_id = #{parentId}
		</if>
		<if test="deptName != null and deptName != ''">
			AND dept_name like concat('%', #{deptName}, '%')
		</if>
		<if test="status != null and status != ''">
			AND status = #{status}
		</if>
		<if test="deptType != null and deptType != ''">
			AND dept_type = #{deptType}
		</if>
		<if test="hang != null and hang != ''">
			AND hang = #{hang}
		</if>
		<!-- 数据范围过滤 -->
		${params.dataScope}
		order by d.parent_id, d.order_num
    </select>

    <select id="selectDeptListByRoleId" resultType="Integer">
		select d.dept_id
		from sys_dept d
            left join sys_role_dept rd on d.dept_id = rd.dept_id
        where rd.role_id = #{roleId}
            <if test="deptCheckStrictly">
              and d.dept_id not in (select d.parent_id from sys_dept d inner join sys_role_dept rd on d.dept_id = rd.dept_id and rd.role_id = #{roleId})
            </if>
		order by d.parent_id, d.order_num
	</select>

    <select id="selectDeptById" parameterType="Long" resultMap="SysDeptResult">
		<include refid="selectDeptVo"/>
		where dept_id = #{deptId}
	</select>

	<select id="selectDeptByName" parameterType="String" resultMap="SysDeptResult">
		<include refid="selectDeptVo"/>
		where dept_name = #{deptName}
	</select>

    <select id="checkDeptExistUser" parameterType="Long" resultType="int">
		select count(1) from sys_user where dept_id = #{deptId} and del_flag = '0'
	</select>

	<select id="hasChildByDeptId" parameterType="Long" resultType="int">
		select count(1) from sys_dept
		where del_flag = '0' and parent_id = #{deptId} limit 1
	</select>

	<select id="selectChildrenDeptById" parameterType="Long" resultMap="SysDeptResult">
		select * from sys_dept where find_in_set(#{deptId}, ancestors)
	</select>

	<select id="selectNormalChildrenDeptById" parameterType="Long" resultType="int">
		select count(*) from sys_dept where status = 0 and del_flag = '0' and find_in_set(#{deptId}, ancestors)
	</select>

	<select id="checkDeptNameUnique" resultMap="SysDeptResult">
	    <include refid="selectDeptVo"/>
		where dept_name=#{deptName} and parent_id = #{parentId} limit 1
	</select>

    <insert id="insertDept" parameterType="SysDept">
 		insert into sys_dept(
 			<if test="deptId != null and deptId != 0">dept_id,</if>
 			<if test="parentId != null and parentId != 0">parent_id,</if>
 			<if test="deptName != null and deptName != ''">dept_name,</if>
 			<if test="ancestors != null and ancestors != ''">ancestors,</if>
 			<if test="orderNum != null and orderNum != ''">order_num,</if>
 			<if test="leader != null and leader != ''">leader,</if>
 			<if test="phone != null and phone != ''">phone,</if>
 			<if test="email != null and email != ''">email,</if>
 			<if test="status != null">status,</if>
 			<if test="createBy != null and createBy != ''">create_by,</if>
		    <if test="jigouCode != null and jigouCode != ''">jigou_code,</if>
		    <if test="jianCheng != null and jianCheng != ''">jian_cheng,</if>
			<if test="jinDu != null and jinDu != ''" >jin_du,</if>
			<if test="weiDu != null and weiDu != ''">wei_du,</if>
			<if test="yinCode != null and yinCode != ''">yin_code,</if>
			<if test="address != null and address != ''">address,</if>
		    <if test="deptType != null and deptType != ''">dept_type,</if>
		    <if test="wangCode != null and wangCode != ''">wang_code,</if>
		    <if test="wangType != null and wangType != ''">wang_type,</if>
		    <if test="sheng != null and sheng != ''">sheng,</if>
			<if test="shi != null and shi != ''">shi,</if>
			<if test="xian != null and xian != ''">xian,</if>
			<if test="hang != null and hang != ''">hang,</if>
 			create_time
 		)values(
 			<if test="deptId != null and deptId != 0">#{deptId},</if>
 			<if test="parentId != null and parentId != 0">#{parentId},</if>
 			<if test="deptName != null and deptName != ''">#{deptName},</if>
 			<if test="ancestors != null and ancestors != ''">#{ancestors},</if>
 			<if test="orderNum != null and orderNum != ''">#{orderNum},</if>
 			<if test="leader != null and leader != ''">#{leader},</if>
 			<if test="phone != null and phone != ''">#{phone},</if>
 			<if test="email != null and email != ''">#{email},</if>
 			<if test="status != null">#{status},</if>
 			<if test="createBy != null and createBy != ''">#{createBy},</if>
		    <if test="jigouCode != null and jigouCode != ''">#{jigouCode},</if>
		    <if test="jianCheng != null and jianCheng != ''">#{jianCheng},</if>
			<if test="jinDu != null  and jinDu != ''">#{jinDu},</if>
			<if test="weiDu != null and weiDu != ''">#{weiDu},</if>
			<if test="yinCode != null and yinCode != ''">#{yinCode},</if>
			<if test="address != null and address != ''">#{address},</if>
		    <if test="deptType != null and deptType != ''">#{deptType},</if>
		    <if test="wangCode != null and wangCode != ''">#{wangCode},</if>
		    <if test="wangType != null and wangType != ''">#{wangType},</if>
		    <if test="sheng != null and sheng != ''">#{sheng},</if>
			<if test="shi != null and shi != ''">#{shi},</if>
			<if test="xian != null and xian != ''">#{xian},</if>
			<if test="hang != null and hang != ''">#{hang},</if>
 			sysdate()
 		)
	</insert>

	<update id="updateDept" parameterType="SysDept">
 		update sys_dept
 		<set>
 			<if test="parentId != null and parentId != 0">parent_id = #{parentId},</if>
 			<if test="deptName != null and deptName != ''">dept_name = #{deptName},</if>
 			<if test="ancestors != null and ancestors != ''">ancestors = #{ancestors},</if>
 			<if test="orderNum != null and orderNum != ''">order_num = #{orderNum},</if>
 			<if test="leader != null">leader = #{leader},</if>
 			<if test="phone != null">phone = #{phone},</if>
 			<if test="email != null">email = #{email},</if>
 			<if test="status != null and status != ''">status = #{status},</if>
 			<if test="updateBy != null and updateBy != ''">update_by = #{updateBy},</if>
			<if test="jigouCode != null and jigouCode != ''">jigou_code = #{jigouCode},</if>
			<if test="jianCheng != null and jianCheng != ''">jian_cheng = #{jianCheng},</if>
			<if test="jinDu != null and jinDu != ''">jin_du = #{jinDu},</if>
			<if test="weiDu != null and weiDu != ''">wei_du = #{weiDu},</if>
			<if test="yinCode != null and yinCode != ''">yin_code = #{yinCode},</if>
			<if test="address != null and address != ''">address = #{address},</if>
			<if test="deptType != null and deptType != ''">dept_type = #{deptType},</if>
			<if test="wangCode != null and wangCode != ''">wang_code = #{wangCode},</if>
			<if test="wangType != null and wangType != ''">wang_type = #{wangType},</if>
			<if test="sheng != null and sheng != ''">sheng = #{sheng},</if>
			<if test="shi != null and shi != ''">shi = #{shi},</if>
			<if test="xian != null and xian != ''">xian = #{xian},</if>
			<if test="hang != null and hang != ''">hang = #{hang},</if>
 			update_time = sysdate()
 		</set>
 		where dept_id = #{deptId}
	</update>

	<update id="updateDeptChildren" parameterType="java.util.List">
	    update sys_dept set ancestors =
	    <foreach collection="depts" item="item" index="index"
	        separator=" " open="case dept_id" close="end">
	        when #{item.deptId} then #{item.ancestors}
	    </foreach>
	    where dept_id in
	    <foreach collection="depts" item="item" index="index"
	        separator="," open="(" close=")">
	        #{item.deptId}
	    </foreach>
	</update>

	 <update id="updateDeptStatus" parameterType="SysDept">
 	    update sys_dept
 	    <set>
 	        <if test="status != null and status != ''">status = #{status},</if>
 	        <if test="updateBy != null and updateBy != ''">update_by = #{updateBy},</if>
 	        update_time = sysdate()
        </set>
 	    where dept_id in (${ancestors})
	</update>

	<delete id="deleteDeptById" parameterType="Long">
		update sys_dept set del_flag = '2' where dept_id = #{deptId}
	</delete>

</mapper>
