<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fjb.system.mapper.SysExpertisereportMapper">

    <resultMap type="SysExpertisereport" id="SysExpertisereportResult">
        <result property="id"    column="id"    />
        <result property="number"    column="number"    />
        <result property="deptId"    column="dept_id"    />
        <result property="userId"    column="user_id"    />
        <result property="amount"    column="amount"    />
        <result property="totalamount"    column="totalamount"    />
        <result property="identifyname"    column="identifyname"    />
        <result property="checkupname"    column="checkupname"    />
        <result property="identifydate"    column="identifydate"    />
        <result property="holderName"    column="holder_name"    />
        <result property="holderTelephone"    column="holder_telephone"    />
        <result property="holderIdcard"    column="holder_IDCard"    />
        <result property="ccCurrency"    column="cc_currency"    />
        <result property="ccDenomination"    column="cc_denomination"    />
        <result property="ccSeries"    column="cc_series"    />
        <result property="originalcffi"    column="originalcffi"    />
        <result property="originalresult"    column="originalresult"    />
        <result property="result"    column="result"    />
        <result property="resultdetails"    column="resultdetails"    />
        <result property="status"    column="status"    />
        <result property="remark"    column="remark"    />
        <result property="delFlag"    column="del_flag"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="imgList"    column="img_list"    />
        <result property="parentId"    column="parent_id"    />
        <result property="serialNumber"    column="serial_number"    />
        <result property="dataSource"    column="data_source"    />
        <association property="dept"    column="dept_id" javaType="SysDept" resultMap="deptResult" />
        <association property="user"    column="user_id" javaType="SysUser" resultMap="SysUserResult" />
    </resultMap>

    <resultMap id="deptResult" type="SysDept">
        <id     property="deptId"   column="dept_id"     />
        <result property="parentId" column="parent_id"   />
        <result property="deptName" column="dept_name"   />
        <result property="jianCheng" column="jian_cheng" />
    </resultMap>

    <resultMap type="SysUser" id="SysUserResult">
        <id     property="userId"       column="user_id"      />
        <result property="deptId"       column="dept_id"      />
        <result property="userName"     column="user_name"    />
        <result property="nickName"     column="nick_name"    />
    </resultMap>


    <sql id="selectSysExpertisereportVo">
        select r.id, r.number, r.dept_id, r.user_id, r.amount, r.totalamount, r.identifyname, r.checkupname,
         r.identifydate, r.holder_name, r.holder_telephone, r.holder_IDCard, r.cc_currency,r.serial_number,
         r.cc_denomination, r.cc_series,r.data_source,
         r.originalcffi, r.originalresult, r.result, r.resultdetails, r.status, r.remark,
         r.del_flag, r.create_by, r.create_time, r.update_by, r.update_time, r.img_list, r.parent_id
         ,u.user_id, u.dept_id, u.nick_name, u.user_name,d.dept_name, d.dept_id,d.jian_cheng,d.parent_id
         from sys_expertisereport r
         left join sys_user u on r.user_id = u.user_id
         left join sys_dept d on r.dept_id = d.dept_id
    </sql>

    <select id="selectSysExpertisereportList" parameterType="SysExpertisereport" resultMap="SysExpertisereportResult">
        select r.id, r.number, r.dept_id, r.user_id, r.amount, r.totalamount, r.identifyname, r.checkupname,
        r.identifydate, r.holder_name, r.holder_telephone, r.holder_IDCard, r.cc_currency,r.serial_number,
        r.cc_denomination, r.cc_series,r.data_source,
        r.originalcffi, r.originalresult, r.result, r.resultdetails, r.status, r.remark,
        r.del_flag, r.create_by, r.create_time, r.update_by, r.update_time, r.img_list, r.parent_id
        ,u.user_id, u.dept_id, u.nick_name, u.user_name,d.dept_name, d.dept_id,d.jian_cheng,d.parent_id
        from sys_expertisereport r
        left join sys_user u on r.user_id = u.user_id
        left join sys_dept d on r.dept_id = d.dept_id
        where r.del_flag = '0'
        <if test="deptId != null and deptId != 0">
            AND r.dept_id = #{deptId}
        </if>
        <if test="number != null  and number != ''"> and r.number = #{number}</if>
        <if test="deptId != null "> and r.dept_id = #{deptId}</if>
        <if test="identifyname != null  and identifyname != ''"> and r.identifyname like concat('%', #{identifyname}, '%')</if>
        <if test="ccCurrency != null  and ccCurrency != ''"> and r.cc_currency = #{ccCurrency}</if>
        <if test="ccDenomination != null  and ccDenomination != ''"> and r.cc_denomination = #{ccDenomination}</if>
        <if test="ccSeries != null  and ccSeries != ''"> and r.cc_series = #{ccSeries}</if>
        <if test="status != null  and status != ''"> and r.status = #{status}</if>
        <if test="serialNumber != null  and serialNumber != ''"> and r.serial_number like concat('%', #{serialNumber}, '%')</if>
        <if test="parentId != null  "> and r.parent_id = #{parentId}</if>
        <if test="beginTime != null and beginTime != ''"><!-- 开始时间检索 -->
            and date_format(r.identifydate,'%y%m%d') &gt;= date_format(#{beginTime},'%y%m%d')
        </if>
        <if test="endTime != null and endTime != ''"><!-- 结束时间检索 -->
            and date_format(r.identifydate,'%y%m%d') &lt;= date_format(#{endTime},'%y%m%d')
        </if>
        <!-- 数据范围过滤 -->
        ${params.dataScope}
    </select>

    <select id="selectSysExpertisereportById" parameterType="Long" resultMap="SysExpertisereportResult">
        <include refid="selectSysExpertisereportVo"/>
        where id = #{id}
    </select>

    <insert id="insertSysExpertisereport" parameterType="SysExpertisereport" useGeneratedKeys="true" keyProperty="id">
        insert into sys_expertisereport
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="number != null">number,</if>
            <if test="deptId != null">dept_id,</if>
            <if test="userId != null">user_id,</if>
            <if test="amount != null">amount,</if>
            <if test="totalamount != null">totalamount,</if>
            <if test="identifyname != null">identifyname,</if>
            <if test="checkupname != null">checkupname,</if>
            <if test="identifydate != null">identifydate,</if>
            <if test="holderName != null">holder_name,</if>
            <if test="holderTelephone != null">holder_telephone,</if>
            <if test="holderIdcard != null">holder_IDCard,</if>
            <if test="ccCurrency != null">cc_currency,</if>
            <if test="ccDenomination != null">cc_denomination,</if>
            <if test="ccSeries != null">cc_series,</if>
            <if test="originalcffi != null">originalcffi,</if>
            <if test="originalresult != null">originalresult,</if>
            <if test="result != null">result,</if>
            <if test="resultdetails != null">resultdetails,</if>
            <if test="status != null">status,</if>
            <if test="remark != null">remark,</if>
            <if test="delFlag != null">del_flag,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="imgList != null">img_list,</if>
            <if test="parentId != null">parent_id,</if>
            <if test="serialNumber != null">serial_number,</if>
            <if test="dataSource != null">data_source,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="number != null">#{number},</if>
            <if test="deptId != null">#{deptId},</if>
            <if test="userId != null">#{userId},</if>
            <if test="amount != null">#{amount},</if>
            <if test="totalamount != null">#{totalamount},</if>
            <if test="identifyname != null">#{identifyname},</if>
            <if test="checkupname != null">#{checkupname},</if>
            <if test="identifydate != null">#{identifydate},</if>
            <if test="holderName != null">#{holderName},</if>
            <if test="holderTelephone != null">#{holderTelephone},</if>
            <if test="holderIdcard != null">#{holderIdcard},</if>
            <if test="ccCurrency != null">#{ccCurrency},</if>
            <if test="ccDenomination != null">#{ccDenomination},</if>
            <if test="ccSeries != null">#{ccSeries},</if>
            <if test="originalcffi != null">#{originalcffi},</if>
            <if test="originalresult != null">#{originalresult},</if>
            <if test="result != null">#{result},</if>
            <if test="resultdetails != null">#{resultdetails},</if>
            <if test="status != null">#{status},</if>
            <if test="remark != null">#{remark},</if>
            <if test="delFlag != null">#{delFlag},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="imgList != null">#{imgList},</if>
            <if test="parentId != null">#{parentId},</if>
            <if test="serialNumber != null">#{serialNumber},</if>
            <if test="dataSource != null">#{dataSource},</if>
         </trim>
    </insert>

    <update id="updateSysExpertisereport" parameterType="SysExpertisereport">
        update sys_expertisereport
        <trim prefix="SET" suffixOverrides=",">
            <if test="number != null">number = #{number},</if>
            <if test="deptId != null">dept_id = #{deptId},</if>
            <if test="userId != null">user_id = #{userId},</if>
            <if test="amount != null">amount = #{amount},</if>
            <if test="totalamount != null">totalamount = #{totalamount},</if>
            <if test="identifyname != null">identifyname = #{identifyname},</if>
            <if test="checkupname != null">checkupname = #{checkupname},</if>
            <if test="identifydate != null">identifydate = #{identifydate},</if>
            <if test="holderName != null">holder_name = #{holderName},</if>
            <if test="holderTelephone != null">holder_telephone = #{holderTelephone},</if>
            <if test="holderIdcard != null">holder_IDCard = #{holderIdcard},</if>
            <if test="ccCurrency != null">cc_currency = #{ccCurrency},</if>
            <if test="ccDenomination != null">cc_denomination = #{ccDenomination},</if>
            <if test="ccSeries != null">cc_series = #{ccSeries},</if>
            <if test="originalcffi != null">originalcffi = #{originalcffi},</if>
            <if test="originalresult != null">originalresult = #{originalresult},</if>
            <if test="result != null">result = #{result},</if>
            <if test="resultdetails != null">resultdetails = #{resultdetails},</if>
            <if test="status != null">status = #{status},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="delFlag != null">del_flag = #{delFlag},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="imgList != null">img_list = #{imgList},</if>
            <if test="parentId != null">parent_id = #{parentId},</if>
            <if test="serialNumber != null">serial_number = #{serialNumber},</if>
            <if test="dataSource != null">data_source = #{dataSource},</if>
        </trim>
        where id = #{id}
    </update>

    <select id="selectNumberByDeptid" parameterType="Long" resultType="String">
        select number from sys_expertisereport where dept_id = #{deptId} order by id desc  limit 1
    </select>

    <select id="getParentNum" parameterType="Long" resultType="Integer">
        select count(*) from sys_expertisereport where parent_id = #{id}
    </select>

    <delete id="deleteSysExpertisereportById" parameterType="Long">
        delete from sys_expertisereport where id = #{id}
    </delete>

    <select id="selectParentId" parameterType="SysExpertisereport" resultMap="SysExpertisereportResult">
        select * from sys_expertisereport where del_flag = '0'
        and date_format(identifydate,'%y%m%d') = date_format(#{identifydate},'%y%m%d')
        and identifyname=#{identifyname}
        and dept_id=#{deptId}
        and user_id=#{userId}
        and checkupname=#{checkupname}
        and holder_name=#{holderName}
        and holder_IDCard=#{holderIdcard}
        and originalcffi=#{originalcffi}
        and parent_id=0 limit 1
    </select>

    <delete id="deleteSysExpertisereportByIds" parameterType="String">
        delete from sys_expertisereport where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

</mapper>
