<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fjb.system.mapper.TiDanxuanAnMapper">

    <resultMap type="TiDanxuanAn" id="TiDanxuanAnResult">
        <result property="id"    column="id"    />
        <result property="qid"    column="qid"    />
        <result property="qind"    column="qind"    />
        <result property="qdetail"    column="qdetail"    />
        <result property="qpic"    column="qpic"    />
        <result property="createBy"           column="create_by"             />
        <result property="createTime"         column="create_time"           />
        <result property="updateBy"           column="update_by"             />
        <result property="updateTime"         column="update_time"           />
        <result property="remark"             column="remark"                />
    </resultMap>

    <sql id="selectTiDanxuanAnVo">
        select id, qid, qind, qdetail, qpic,remark from ti_danxuan_an
    </sql>

    <select id="selectTiDanxuanAnList" parameterType="TiDanxuanAn" resultMap="TiDanxuanAnResult">
        <include refid="selectTiDanxuanAnVo"/>
        <where>
            <if test="qid != null "> and qid = #{qid}</if>
            <if test="qind != null  and qind != ''"> and qind = #{qind}</if>
            <if test="qdetail != null  and qdetail != ''"> and qdetail = #{qdetail}</if>
            <if test="qpic != null  and qpic != ''"> and qpic = #{qpic}</if>
        </where>
    </select>

    <select id="selectTiDanxuanAnById" parameterType="Long" resultMap="TiDanxuanAnResult">
        <include refid="selectTiDanxuanAnVo"/>
        where id = #{id}
    </select>

    <insert id="insertTiDanxuanAn" parameterType="TiDanxuanAn" useGeneratedKeys="true" keyProperty="id">
        insert into ti_danxuan_an
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="qid != null">qid,</if>
            <if test="qind != null">qind,</if>
            <if test="qdetail != null">qdetail,</if>
            <if test="qpic != null">qpic,</if>
            <if test="remark != null and remark != ''">remark,</if>
            <if test="createBy != null and createBy != ''">create_by,</if>
            create_time
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="qid != null">#{qid},</if>
            <if test="qind != null">#{qind},</if>
            <if test="qdetail != null">#{qdetail},</if>
            <if test="qpic != null">#{qpic},</if>
            <if test="remark != null and remark != ''">#{remark},</if>
            <if test="createBy != null and createBy != ''">#{createBy},</if>
            sysdate()
         </trim>
    </insert>

    <update id="updateTiDanxuanAn" parameterType="TiDanxuanAn">
        update ti_danxuan_an
        <trim prefix="SET" suffixOverrides=",">
            <if test="qid != null">qid = #{qid},</if>
            <if test="qind != null">qind = #{qind},</if>
            <if test="qdetail != null">qdetail = #{qdetail},</if>
            <if test="qpic != null">qpic = #{qpic},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="updateBy != null and updateBy != ''">update_by = #{updateBy},</if>
            update_time = sysdate()
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteTiDanxuanAnById" parameterType="Long">
        delete from ti_danxuan_an where id = #{id}
    </delete>

    <delete id="deleteTiDanxuanAnByIds" parameterType="String">
        delete from ti_danxuan_an where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

</mapper>
